In [7]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

In [2]:
raw_df = pd.read_csv("1.conversion_data.csv")
print("The shape of raw_df is %s" % str(raw_df.shape))
raw_df.head()

The shape of raw_df is (316200, 6)

  country  age  new_user source  total_pages_visited  converted
0      UK   25         1    Ads                    1          0
1      US   23         1    Seo                    5          0
2      US   28         1    Seo                    4          0
3   China   39         1    Seo                    5          0
4      US   30         1    Seo                    6          0

# To Do List
- Different encoding methods, one-hot VS encode directly
- Gradient Boosting, lightgbm, xgboost, random forest
- Grid Search and Bayes Rule for tuning hyperparameters
- Different metrics: AUC score VS Accuracy

# Data Exploration

In [4]:
for col in raw_df.columns:
    if raw_df[col].dtype == "object":
        print(raw_df[col].value_counts())
        print("="*50)

US         178092
China       76602
UK          48450
Germany     13056
Name: country, dtype: int64
==================================================
Seo       155040
Ads        88740
Direct     72420
Name: source, dtype: int64
==================================================

In [9]:
raw_df["converted"].value_counts()

0    306000
1     10200
Name: converted, dtype: int64

In [10]:
raw_df["new_user"].value_counts()

1    216744
0     99456
Name: new_user, dtype: int64

In [13]:
raw_df["total_pages_visited"].describe()

count    316200.000000
mean          4.872966
std           3.341104
min           1.000000
25%           2.000000
50%           4.000000
75%           7.000000
max          29.000000
Name: total_pages_visited, dtype: float64

In [14]:
raw_df["age"].describe()

count    316200.000000
mean         30.569858
std           8.271802
min          17.000000
25%          24.000000
50%          30.000000
75%          36.000000
max         123.000000
Name: age, dtype: float64

In [20]:
raw_df.loc[raw_df["age"] > 80]

        country  age  new_user source  total_pages_visited  converted
90928   Germany  123         0    Seo                   15          1
295581       UK  111         0    Ads                   10          1

In [21]:
raw_df = raw_df[raw_df["age"] <= 80]

# Split data into training, validation, and test set
- Training and validaton set is to train the model
- Test set is only to test the model

Split data into training and test set (70% vs 30%)

In [22]:
x = raw_df[["country", "age", "new_user", "source", "total_pages_visited"]]
y = raw_df["converted"]

In [24]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=42)